@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    color: #161616;
}

nav .navItem {
    @apply px-4 hover:text-sky-400 ease-out duration-200;
}

h1 {
    @apply text-3xl;
}

a {
    color: #1098F7;
    @apply active:text-red-500;
}

a:hover {
    color: #4A8FE7;
}

main {
    @apply pt-4 ml-12 mr-12 min-h-[80vh];
}

.ForumNav {
    @apply pl-16 py-2 flex flex-row bg-gray-900;
}

.ForumNav * {
    display: inline;
    @apply text-white hover:text-gray-200;
}

.ForumNav .NavItem {
    @apply pl-2 transition duration-100 ease-in-out hover:bg-gray-500 rounded-sm;
}

.NavItem Link {
    @apply text-blue-500;
}

footer div p {
    @apply text-lg;
}

footer div div {
    @apply ml-2 flex flex-col;
}

footer div a {
    @apply text-gray-900;
}
